@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --bg-body: #dff9fb;
    --bg-nav: #220455;
    --color-nav: #644c89;
    --color-nav-active: #fff;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
html, body {
  touch-action: manipulation;
  -webkit-user-select: none; /* Prevent text selection */
  -webkit-touch-callout: none; /* Prevent touch and hold callout */
}


body {
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode:darken;
  background-attachment: fixed;
  z-index: -1;
}

.tap-count-animation {
  animation-name: tapAnim;
  animation-duration: 3s;
  animation-delay: calc(0.1s * [index]);
  animation-fill-mode: forwards;
}

.progress-gradient {
  background: linear-gradient(to right, #90ef89, #d692dd, #726edd);
}

.top-glow {
  box-shadow: 0 -16px 20px rgba(243, 186, 47, 0.3);
}

/* tap-count-animation {
  transition: opacity 3s, transform 3s;
  animation-name: tapAnim;
} */

@keyframes tapAnim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-300px);
  }
}

.page-height {
  /* height: calc(10vh_-_110px); */
  height: 100vh;
}


/* Define the keyframes for the blinking animation */
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Apply the animation to the dot class */
.dot {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  animation: blink 1s infinite;
}

.boost-button{
  background: linear-gradient(120deg, #23CD5C 50%, #79BB0E 50%); 
  color:white;
}

.circle-outer {
  /* background: linear-gradient(to bottom, #575def, #202731); */
  /* opacity: 0.8; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 60vw;
  max-width: 360px;
  max-height: 360px;
}

.circle-inner {
  /* background: radial-gradient(circle, #4960b2, #282e3e); */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 60vw;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); */
}

@media (min-width: 401px) {
  .circle-outer, .circle-inner {
    width: 80vw;
    height: 80vw;
    max-width: 400px;
    max-height: 400px;
  }
}
@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}


.glowing-coin {
  position: relative;
  width: 140px;
  height: 140px;
  background: url('/images/bee-coin3.png') no-repeat center center;
  background-size: contain;
  border-radius: 50%;
  box-shadow: 0 0 60px rgba(255, 223, 0, 0.8), 0 0 100px rgba(255, 223, 0, 0.6), 0 0 140px rgba(255, 223, 0, 0.4);
}

.glowing-coin::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 223, 0, 0.3), transparent);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid lightblue;
  border-right-color: rgb(0, 51, 255);
  animation: l2 1s infinite linear;
}
@keyframes l2 {to{transform: rotate(1turn)}}


.nav-indicator {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #272a2f;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -100;
  transition: left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* cubic-bezier(0.175, 0.885, 0.32, 1.275) */
}

#filter-svg {
  display: none;
}


.nav {
  filter: url('#goo');
  list-style-type: none;
  display: flex;
  background-color: #272a2f;
  /* height: 80px; */
  border-radius: 20px;
}

.button-background {
  background: radial-gradient(circle, #FFA41C 0%, #FF7B00 100%);
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Optional: Adds some shadow */
}


.rounded-triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/* CoinAnimation.css */
.coin-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover; /* Ensure the background image covers the entire div */
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -50px; /* Start above the screen */
  animation-name: drop;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; /* Ensure coin stays at bottom */
}

.buy-coin {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover; /* Ensure the background image covers the entire div */
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -50px; /* Start above the screen */
  animation-name: rise;
  animation-timing-function: ease-in;
  z-index: 1000;
  animation-fill-mode: forwards; /* Ensure coin stays at bottom */
}
/* Keyframe animation for falling coins */
@keyframes rise {
  0% {
    bottom: -50px;
    opacity: 1;
  }

  100% {
    bottom: 110vh; /* Moves the coin beyond the viewport */
    opacity: 0.5; /* Coin fades out */
  }
}

/* Keyframe animation for falling coins */
@keyframes drop {
  0% {
    top: -50px;
    opacity: 1;
  }

  100% {
    top: 110vh; /* Moves the coin beyond the viewport */
    opacity: 0.5; /* Coin fades out */
  }
}




@keyframes balloon-float {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.balloons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.balloon {
  position: absolute;
  bottom: -100px;
  width: 100px;
  height: 170px;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 50%;
  animation: balloon-float 5s infinite;
}

.balloon:nth-child(2) {
  left: 20%;
  animation-duration: 6s;
  background-color: rgba(0, 255, 0, 0.5);
}

.balloon:nth-child(3) {
  left: 40%;
  animation-duration: 7s;
  background-color: rgba(0, 0, 255, 0.5);
}

.balloon:nth-child(4) {
  left: 60%;
  animation-duration: 8s;
  background-color: rgba(255, 255, 0, 0.5);
}

.balloon:nth-child(5) {
  left: 80%;
  animation-duration: 9s;
  background-color: rgba(255, 0, 255, 0.5);
}